span {
    color: rgb(192, 192, 192);
    font-size: small;
    a {
      color: rgb(29, 73, 219); 
      text-decoration: none; 
    }
}



.formContainer {
    min-height: 100vh;
    width: 100vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: #131324;
    /*background-image: url("./assets/Leonardo_Phoenix_Create_a_highresolution_background_image_for_2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: zoomBackground 30s ease-in-out infinite;*/
    color: aliceblue;
}
/*
@keyframes zoomBackground {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 105%;
    }
    100% {
        background-size: 100%;
    }
}
*/
.form-login-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #00000091;
    border-radius: 2rem;
    padding: 1rem 1rem;
    width: max-content;
    height: max-content;
}

.form-field {
    background-color: transparent;
    padding: 0.8rem;
    margin-top: 0.4rem;
    color: rgb(238, 63, 200);
    border: 0.1rem solid #eb0eff;
    border-radius: 0.4rem;
    width: 20rem;
    font-size: 1rem;
    &:focus {
        border: 0.1rem solid #997af0;
        outline: none;
    }
}

.button-submit-form {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    border: none;
    background: linear-gradient(122deg, #FA5560 0.01%, #ac46f0 49.90%, #498bf5 100%);
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    &:hover {
        background: linear-gradient(122deg, #e64d57 0.01%, #963ad3 49.90%, #3b77d8 100%);
        font-weight: 600;
    }
}

.msgError{
    color: rgba(240, 121, 23, 0.884);
    font-size: small;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}