.messageContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    max-width: 60%;
    min-width: 8vw;

    .content {
        margin: 0.1vh;
        color: rgb(33, 33, 34);
    }
}

.messageInput {
    flex: 1;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 0.2vw;
    width: 46vw;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.sendMessage {
    padding: 12px 20px;
    background-color: #12d463;
    color: #1d1c1c;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        color: rgb(54, 70, 70);
    }
}
